body{
  background-color: black;

}
h1{
  text-transform: uppercase;
  font-size: 3rem;
}
.poster {
  color: white;
  margin-top: 5%;
  color:white;
  text-align: center;



}
.motivation-img{
 border-radius: 5px solid white ;
 width: 400px;
}